body{
    background-color: grey;
}
.portoflio-title{
    font-style: oblique;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.card-title{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.cart-text{
    font-family: sans-serif;
}
.card-title2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.cart-text2{
    font-family: sans-serif;
}
.card-title3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.cart-text3{
    font-family: sans-serif;
}
.card-title4{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.cart-text4{
    font-family: sans-serif;
}
.card-title5{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.cart-text5{
    font-family: sans-serif;
}
.card-title6{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.cart-text6{
    font-family: sans-serif;
}